*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 1440px;
    height: 108px;
}
nav{
   width: 1440px;
    height: 108px;
    line-height: 75px;
    padding: 0px;
    position: fixed;
    margin-top: 0px;
    background-color: beige;
    
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a{
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}
.container_1{
    display: flex;
    flex-wrap: wrap;
    background-image: url("ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1445px;
    height: 596px;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 1064px;
    margin-top: 70px;
    margin-left: 191px;
    font-family: Times New Roman;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    height: 282px;
    width: 1145px;
    margin-top: 83px;
    margin-left: 184px;
}
.container_2{
    display: flex;
    flex-wrap: wrap;
    height: 297px;
    width: 1445px;
}
.text_box{
    display: flex;
    flex-wrap: wrap;
    height: 257px;
    width: 544px;
    flex-direction: column;
    justify-content: space-evenly;
}
.text_inside_box_2{
    margin-left: 131px;
    width: 300px;
    height: 20px;
    border: 2px solid black;
}
.image_box2{
    margin-left: 55px;
    height: 257px;
    width: 580px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer{
    padding-top: 85px;
    width: 1440px;
    height: 434px;
    background-color: rgb(81,93,117);
}
.row{
    margin-left: 126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1184px;
    height: 233px;
}
.footer_col_1{
    display: flex;
    flex-wrap: wrap;
    height: 233px;
    width: 384px;
}
.footer_col_2{
    width: 297px;
    height: 233px;
    display: flex;
    flex-wrap: wrap;
}
.footer_col_3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 233px;
    width: 384px;
}
.last_line_box{
    margin-top: 58px;
    height: 58px;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(97, 97, 97, 1);
    justify-content: space-around;
}
.last_box{
    padding-top: 16px;
    color: white;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.follow{
    margin-left: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.social_link{
    margin-left: 4px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-size: 25px;
}
.social_link a{
    margin-top: 15px;
}
